.bar {
    background-color: $unsorted-bar-color;
    margin: 0 2px;
    flex: 1 1 auto;
    text-align: center;
    padding: 4px;
    font-family: sans-serif;
}

.checking {
    background-color: $checking-bar-color;
}

.sorted {
    background-color: $sorted-bar-color;
}