#control {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 250px;
    border: 4px solid $page-border-color;
    padding: 15px;
    margin-left: 30px;
    font-size: 18px;
    border-radius: 3px;
    box-shadow: $box-shadow;
    justify-content: space-around;
}

/* Play/Pause button taken from codepen by Samiullah Khan */
.play-btn-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;;
    margin: 0 auto;
    border: 2px solid $page-border-color;
    padding-left: 4px;
    border-radius: 50%;
}
.play-btn-container:hover {
    cursor: pointer;
    background-color: $selected-color;
}
.play {
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 13px 0px 13px 26px;
  border-color: transparent transparent transparent $page-color;
  transition: all 100ms ease-in-out;
}

.stop {
  background-color: $page-color;
  margin-right: 4px;
}
/* End Play/Pause button */

#new-array-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
};

#new-array-button {
  height: 30px;
  width: 130px;
  font-size: 12px;
  text-align: center;
  border: 2px solid lightgray;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 4px;
  margin-bottom: 4px;
};

#new-array-button:hover {
  cursor: pointer;
  box-shadow: $selected-box-shadow;
  background-color: $selected-color;
}

/* Size Control */
#size-control {
  display: flex;
  width: auto;
  justify-content: center;
}
#size-control > span {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  padding: 4px;
}
#size-control .size-button {
  width: 30px;
  height: 30px;
  border: 2px solid lightgray;
  padding: 4px;
  text-align: center;
  border-radius: 3px;
  margin-right: 2px;
}
.speed-size-clickable:hover {
  cursor: pointer;
  box-shadow: $selected-box-shadow;
}
div.size-selected {
  background-color: $selected-color;
  font-weight: 550;
}
/* End Size Control */

/* Speed Control */
#speed-control {
  display: flex;
  width: auto;
  justify-content: center;
  margin-right: 15px;
}
#speed-control > span {
  height: 30px;
  margin-right: 7px;
  padding: 4px;
}
#speed-control .speed-button {
  width: 30px;
  height: 30px;
  border: 2px solid $selected-color;
  padding: 4px;
  text-align: center;
  border-radius: 3px;
  margin-right: 2px;
}
.speed-size-clickable:hover {
  cursor: pointer;
  box-shadow: $selected-box-shadow;
}
div.speed-selected {
  background-color: $selected-color;
  font-weight: 550;
}
/* End Speed Control */

/* Algorithm Control */
#alg-control {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#alg-control div {
  text-align: center;
  border: 2px solid lightgray;
  height: 45px;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center
}
.alg-button:hover {
  cursor: pointer;
  box-shadow: $selected-box-shadow;
}
.alg-selected {
  background: $selected-color;
  font-weight: 700;
}
/* End Alg Control */
