#legend {
    display: flex;
    height: 35px;
    width: $graph-legend-width;
    border: 1px solid $page-color;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    box-shadow: $box-shadow;
}

#legend .color-label-divs {
    width: 100px;
    display: flex;
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 3px;

}

.color-label {
    padding: 2px;
    margin-left: 5px;
}


// legend colors

#unsorted-color-box {
    background-color: $unsorted-bar-color;
}

#checking-color-box {
    background-color: $checking-bar-color;
}

#swapping-color-box {
    background-color: $swapping-bar-color;
}

#sorted-color-box {
    background-color: $sorted-bar-color;
}


