#top-nav {
    display: flex;
    justify-content: space-between;
    background-color: $page-color;
    height: 50px;
    width: 100%;
    font-family: sans-serif;
    box-shadow: $box-shadow;
}

#top-nav h1 {
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;;
    color: white;
    padding: 4px;
    margin: 8px;
    margin-left: 65px;
}

#socials {
    display: flex;
    padding: 2px;
    margin-right: 80px;
}

#socials li {
    display: inline-block;
    font-size: 20px;  /* get rid of this when favicons are placed */
    color: black;  /* get rid of this when favicons are placed */
}

.info-icon img{
    position: relative;
    height: 41px;
    width: auto;
    margin-right: 6px;
    margin-top: 2px;
}

.info-content {
    position: absolute;
    top: 80px;
    right: 40px;
    display: none;
    height: 360px;
    width: 640px;
    z-index: 1;
    border: 3px solid $page-color;
    box-shadow: $box-shadow;
}
.info-content img {
    height: 100%;
    width: 100%;
}

.info-icon img:hover {
    opacity: 50%;
}

.info-icon:hover .info-content {
    display: block;
}

.github-favicon {
    height: 37px;
    width: auto;
    margin-top: 4px;
}

.linkedin-favicon {
    height: 45px;
    width: auto;
    margin-bottom: 4px;
    margin-left: 4px;
}