#top-nav {
    display: flex;
    justify-content: space-between;
    // position: fixed;
    // z-index: 10;
    background-color: $page-color;
    height: 50px;
    width: 100%;
    font-family: sans-serif;
    box-shadow: $box-shadow;
}

#top-nav h1 {
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;;
    color: white;
    padding: 4px;
    margin: 8px;
    margin-left: 65px;
}

#socials {
    display: flex;
    padding: 2px;
    margin-right: 80px;
}

#socials li {
    display: inline-block;
    font-size: 20px;  /* get rid of this when favicons are placed */
    color: black;  /* get rid of this when favicons are placed */
}

.github-favicon {
    height: 37px;
    width: auto;
    margin-top: 4px;
}

.linkedin-favicon {
    height: 45px;
    width: auto;
    margin-bottom: 4px;
    margin-left: 4px;
}