$graph-legend-width: 1000px;
$sorted-bar-color: #B7E5DD;
$unsorted-bar-color: #B1BCE6;
$checking-bar-color: #F1F0C0;
$page-color: #9A86A4;
$selected-color: #dee1ef;
$page-border-color: #9A86A4;
$box-shadow: 5px 5px 9px 2px #767676;
$selected-box-shadow: 5px 3px 6px #888888;